*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    /* padding: 0 2vw; */
    width: 100%;
    background-color: #222;
    color: #fff;
    font-family: gilroy;
    
}

.cursor{
    scale: 0;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.menu{
    z-index: 999;
    position: fixed;
    opacity: 0;
    height: 100vh;
    width: 0%;
    background-color: #333;
    padding: 2vw 3vw;

}
.menu h1{
    font-size: 1.5vw;
    font-weight: 100    ;
}

#navbar{
    position: fixed;
    right: 0%;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
   
}

.logo span{
    color: #064663;
    font-weight: 999;
}

#navbar div h1{
    font-size: 2vw;
}

#navbar h1{
    font-size: 1.5vw;
    font-weight: 100;
}

/* page 1 overhere */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #222;
}
/* page 2 overhere */
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(22, 190, 190);
}
/* page 3 overhere */
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(133, 133, 150);
}
/* page 4 overhere */
#page4{
    height: 100vh;
    width: 100%;
    background-color: rgb(26, 77, 126);
}