*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
    text-transform:capitalize;
    color: white;
}

.main{
    width: 100%;
}

.nav{
    z-index: 10;
    position: fixed;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vh;
    background-color: #121417;
}

.nav .left{
    font-size: 1.4vw;
}

.nav .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

.nav .right a{
    font-size: 1vw;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: #121417;

}

.page1 img{
    width: 100%;

}

.page1 .img{
    height: 85%;
    overflow: hidden;
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.img h2{
    font-size: 3vw;
}

.search-bar{
    margin-top: 30px;
    width: 400px;
    background-color: #121417;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
}

.search{
    position: absolute;
    bottom: 0;
    padding:2vw 3vw ;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: rgb(230, 228, 228);
    font-size: 1vw;
}

.search-bar button{
    outline: none;
    border: none;
    background-color: #1c91f2;
    padding: 12px 16px;
    border-radius: 8px;
    color: white;
    font-size: 1vw;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #121417;
    padding: 6vw 10vw;
}

.page2 h2{
    font-weight: 100;
    font-size: 2vw;
}

.slider{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    height: 60%;
    width: 24%;
}

.card img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.card h3{
    font-weight: 100;
    margin-bottom: 5px;
}

.card h5{
    font-weight: 100;
    color: gray;
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: #121417;
    padding: 6vw 10vw;
}

.page3 .faq{
    width: 100%;
    height: 5vw;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page3 h2{
    margin-bottom: 40px;
}


